@media (max-width:760px){
img, object{max-width:100%;}
#wrap{width:95%;}
#header{width:100%;height:auto;}
#container{width:100%;}
#contents{width:100%;}
.post{width:100%;}
#footer{width:100%;}
#breadchumb{width:100%;}
}
@media (max-width:600px){#header{height:auto;}
#content{width:100%;}
#container{width:100%;}
.post{width:100%;}
#contents{width:96%;}
}
@media (max-width:479px){#wrap{width:92%;}
#container{width:99%;}
#contents{width:93%;}
}
@media screen and (max-width:320px){#container{width:100%;}
#contents{width:92%;}
}